<main class="container-background h-screen flex items-center justify-center">
  <div class="w-[420px] p-4 rounded-md bg-white shadow-md flex flex-col gap-4">
    <div class="flex flex-col">
      <h1 class="font-bold text-2xl">Login</h1>
      <p>Faça login com sua conta existente.</p>
    </div>

    <form class="flex flex-col gap-2">
      <input class="outline-primary border border-gray-300 px-4 py-2 rounded-md w-full" type="email" placeholder="E-mail:">
      <input class="outline-primary border border-gray-300 px-4 py-2 rounded-md w-full" type="password" placeholder="Senha:">
      <button class="bg-primary hover:bg-hover-primary w-full py-2 rounded-md text-white transition-all" type="submit">Entrar</button>
      <button [routerLink]="['/sign-up']" class="hover:bg-gray-200 w-full py-2 rounded-md text-primary transition-all" type="button">Criar conta</button>
    </form>
  </div>
</main>
